.redirectContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 24px;

  .facebook {
    color: cornflowerblue;
  }

  .zalo {
    color: rgb(37, 37, 255);
  }
}
