.container {
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  transition: 0.3s all normal;
  background-color: rgba(0, 0, 0, 0.6);
}
